body{
    background-color: #EFF7FA !important;
    font: normal 400 14px 'Roboto', Arial, Helvetica, sans-serif;
    color: #555;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}
.head_container{
    height: 135px;
    
}
.constant_navbar_1{
    width: 99%;
    height: 15px;
    color: #757575;
    display: inline-flex;
    flex-direction: row;
    margin:0px;
    font-size: 11px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
    align-items: center;
    justify-content:end;
    text-decoration:none;
}


.site_icon{
    width: 133px;
    height: 27px;
    padding-left:20px ;
}

.os{
    width: 16px;
    height: 16px;
    margin: 2px;
}

.text_{
    text-decoration: none;
    color: #757575;
}

.links{
    text-decoration: none;
    color: #757575;
}
.links:hover{
 background-image: none;
}

.sell_with_us{   
    font-size: 11px;
    color: #757575;
    padding: 0 10px 0 0;
    margin: 0 4px 0 0;
    position: relative;

}
.contact_us{   
    font-size: 13px;
    color: #757575;
    padding: 0 10px 0 0;
    margin: 0 4px 0 0;
    position: relative;

}
.download{
    font-size: 13px;
    color: #757575;
    padding: 0 3px 0 0;
    margin: 0 1.5px 0 0;
    position: relative;
}

.constant_navbar_2{
    display: flex;
    flex-direction: row;  
    margin: 15px 2px 0 0;
    height: 55px;

}

.search_bar
{
    height: 40px;
    min-width:325px;
    display:flex;
    padding-left: 118px;
}

a .search_icon {
    height: 31px;
    width: 24px;
    box-sizing: content-box;
    padding: 8px;
    font-weight:200;
    background:#e9f6f7;
    color: #353535;
    border-radius: 4px 0 0 4px;
    align-content:center;
}

input:focus {
    outline: none !important;
    box-shadow: none;
}


.search_input{
    height: 46px;
    color: #353535;
    background:#e9f6f7;
    border-radius: 0px;
    border: none;
    width: 470px;
}

.btn{
    width: 110px;
    height: 46px;
    padding-bottom: 10px;
    border-collapse: 1px solid orangered;
}

.location_bar{
    display: flex;
    flex-direction: row;
    height: 40px;
}

.location {
    display: flex;
    flex-direction: row;
    color:#24a3b5 ;
    font-weight: 500;
    width: 30px;
    height: 29px;
    float: right;
    position: relative;
    top: 6px;
    margin: 0 0 0 8px;
}
.loction_link{
    display: flex;
    flex-direction: column;
    font-weight: 550;
    font-size: 12px;
    color: #24a3b5;
    position: relative;
    text-decoration: none;
}
.share{
    display: flex;
    flex-direction: column;
    color: #212121;
    padding-left: 25px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 12px;
    padding-left: 60px;
}

/* action_bar */
.action_bar{
    display: flex;
    margin-right: 1%;
    position:relative;
    height: 35px;
    padding-left: 30px;
}

.action_container{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.notify_icon{
    height: 24px;
    margin: 0 20px 0 0;
}

.love_icon{
    width: 30px;
    height: 28px;
    margin: 0 20px 0 0;

}
.cart_icon{
    width: 27px;
    height: 27px;
    margin: 0 20px 0 0;

}

.signin{
    width: 73px;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
    margin-top: 9px;
}

/* Navbar  */

.navbar_Container1{
    width: 100%;
    height: 40px;
    background: #24A3B5;
    color: #555555;
    align-content: center;
}

.NavBar{
    text-align: center;
    font-size: 12px;
    padding:0px 13px;
}

.madeinindia{
    height:32px;
    width:70px;
    padding:0px;
}

.text_size{
    color:#ffffff;
    font-size: 12px;
    text-decoration: none;
    padding:0px 9px;
    position: relative;
    text-transform: uppercase;
}

/* .navbar_Container a.text_size :hover{
    background-color: #ffffff;

} */

.text_size_1{
    width: 114px;
}
.text_size_2{
    width:43px;
}
.text_size_3{
    width:62px;
}
.text_size_4{
    width:114px;
}
.text_size_5{
    width:88px;
}
.text_size_6{
    width: 108px;
}
.text_size_7{
    width:86px;
}
.text_size_8{
    width:60px;
}
.text_size_9{
    width:125px;
}

/* nabar2 */

.navbar_Container2{
    width: 100%;
    height: 36px;
    background:#fff ;
    color: #555555;
    /* align-content: center; */
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.06);
    border-top: 0px solid #e8e8e8;
    /* z-index: 4;
    position: relative; */
    /* margin-top: -3px; */
}

.NavBar_2{
    margin: 0;
    min-width: 980px;
    max-width: 1680px;
    height: 100%;
    position: relative;
    text-align: center;
    font-size: 13px;
    padding:7px 13px;
}



.text_size2{
    color:black;
    text-decoration: none;
    padding:0px 9px;
    position: relative;
    text-transform: capitalize;
}




.card-anim{
    visibility: hidden;
    position: absolute;
    top: 100px;
    left: 185px;
    opacity: 0;
    transition: top 0.2s;
    z-index: 6;
}


a { 
    cursor: pointer !important;
    
}

strong:hover{
    color: #24a3b5;
}

/* a:hover{
    color: #24a3b5;
} */
.mobiles_coloumn1{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.mobiles_coloumn2{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.mobiles_coloumn3{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.mobiles_coloumn4{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.mobiles_coloumn5{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.men_coloumn1{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.men_coloumn2{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.men_coloumn3{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.men_coloumn4{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.men_coloumn5{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.Women_coloumn1{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}


.Women_coloumn2{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}


.Women_coloumn3{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}


.Women_coloumn4{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}


.Women_coloumn5{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.home_coloumn1{  
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.home_coloumn2{  
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.home_coloumn3{  
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.home_coloumn4{  
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.home_coloumn5{  
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.applience_coloumn1{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;

}

.applience_coloumn2{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;

}

.applience_coloumn3{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;

}

.sports_coloumn1{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.sports_coloumn2{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.sports_coloumn3{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.sports_coloumn4{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.sports_coloumn5{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.essentials_coloumn1{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.essentials_coloumn2{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.essentials_coloumn3{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.essentials_coloumn4{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.essentials_coloumn5{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.offers_coloumn1{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.offers_coloumn2{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.offers_coloumn3{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.offers_coloumn4{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.offers_coloumn5{
    font-size: 13px;
    color: #757575;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.custom-row{
    display: flex;
    flex-direction: row;
}

.side_bar1{
    height:135px;
    width: 240px;
}

.shop_now{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25%;
    text-align: center;
    border: 0;
    box-sizing: border-box;
}


 /* picture & brands */
 .container-fluid{
    position:absolute;
    margin: 30px 10px;

 }

 .banner_container{
    bottom: 2px solid #ffffff;
    left: 3%;
    text-align: center;
    font-size: 14px;
    color: #555555;
    height: 64px;
    position: fixed;
    cursor: pointer;
 }

 .slick-active{
    text-align: center;
    font-size: 14px;
    color: #555555;
    cursor: pointer;
    border-bottom: 2px solid #FFFFFF;
     position: relative;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     transition: 0.2s ease; 

 }

 .name_hove1:hover{
    border-bottom: 2px solid #75a9bc;
 }

 .name_hove2:hover {
    border-bottom: 2px solid #75a9bc;
 }
 .name_hove3:hover {
    border-bottom: 2px solid #75a9bc;
 }
 .name_hove4:hover {
    border-bottom: 2px solid #75a9bc;
 }
 .name_hove5:hover {
    border-bottom: 2px solid #75a9bc;
 }

 .slick-slider{
    justify-content: center;
    text-align: center;
    align-content: center;
    background: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
 }

 .Refurbished_vintage{
    height: 346px;
    width: 928px;
 }

 .Refurbished_new{
    height: 346px;
    width:928px;
    visibility: visible;
    /* overflow: hidden; */
    object-fit: cover;

 }

 .Jaw_Droping{
    height: 346px;
    width:928px;
    visibility: visible;
    /* overflow: hidden; */
    object-fit: cover;

 }
 .Foxsky{
    height: 346px;
    width:928px;
    visibility: visible;
    /* overflow: hidden; */
    object-fit: cover;

}
 .Intel{
    height: 346px;
    width:928px;
    visibility: visible;
    /* overflow: hidden; */
    object-fit: cover;

 } 

 .tabbing_products{
    margin-top: 450px !important;
 }

 .product_list{
    width: 195px;
    height: 245px;
 }

 .cat_promotion_box{
    gap: 1;
    display: flex;
    flex-direction: row;
    padding-top: 70px;
 }

 .box_size{
    height: 160px;
    width: 236px;
 }

 .sc_shop_price ul a {
    list-style: none;
    text-align: center;
    position: relative;
    background: #fff;
    align-content: space-around;
    left: 3%;
    right: 2%;
    
}

.cat_promotion_box h2 {
    display: inline-block;
    width: 100%;
    position: relative;
    color: #212121;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    left: 3%;
}


.container{
    /* margin-top: 530px; */
    display:flex;
    flex-direction: row;
    max-width: 1200px;
    height: 296px;
    background-color: #FFFFFF;
    position:relative;
    right:1.1%;
}

.my-container{
    /* margin-top: 530px; */
    width: 12400px;
    height: 296px;
    position:relative;
    right:1.1%;
}

.item_list
{
    padding:33px 15px 0px 15px ;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 296px;
    width: 300px;
    border: 1px solid #fff;
    /* transform: scale(); */

}
.item_list:hover{
    border: 1px solid #75a9bc;

}

.slides_of_img{
    background-color: #FFFFFF;
    width: 1100px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.my-slides_of_img{
    background-color: #FFFFFF;
    width: 1140px !important;
    margin-left: 74px !important;
    margin-left: 74px !important;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* transition: all 0.2s; */

}


#content_size{
    margin: 12px 2px 7px 2px;
}

.btn_ui {
    position: absolute !important;
    margin-left: 1105px;
    margin-top: 105px;
}

.prev_btn_ui {
    position: absolute !important;
    margin-left: -15px;
    margin-top: 105px;
}

.btn_ui1 {
    position: absolute !important;
    margin-left: 1105px;
    margin-top: 105px;
}

.prev_btn_ui1 {
    position: absolute !important;
    margin-left: -15px;
    margin-top: 105px;
}

.prev_button {
    height: 70px;
    width: 26px;
    background-color: #24a3b5;
    font-size: x-large;
    color: white;
    border-radius: 3px;
    padding-left: 1px; 
    border: none;
    z-index: 4;
    overflow: hidden;
    visibility: hidden;
}

.next_button {
    height: 70px;
    width: 26px;
    background-color: #24a3b5;
    font-size: x-large;
    color: white;
    border-radius: 3px;
     padding-left: 1px; 
    border: none;
    z-index: 4;
}


.sports_container{
    display:flex;
    flex-direction: row;
    max-width: 1170px;
    height: 296px;
    background-color: #FFFFFF;
    position:relative;
    right:3%;
    left: 4.7%;
}
.item_list2
{
    padding:33px 15px 5px 15px ;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    align-content: center;
    height: 296px;
    width: 330px;
    border: 1px solid #fff;

}

.slides_of_img2{
    background: #FFFFFF;
    width: 1180px;
}

.item_list2:hover{
    border: 1px solid #75a9bc;

}
.trust_container{
    margin-top: 50px;
    max-width: 1230px;
    height: 161px;
    background-color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 0;
    margin: 40px 20px 0px 20px;
    border-bottom:0.4px solid #757575 ;
}


.wrappering{
    padding: 40px 10px 0px;
}

.content{
    font-size: 21px;
}





/* footer */

.footer_nav{
    max-width: 1230px;
    background-color: #FFFFFF;
    border: 0;
    margin: 0px 20px 0px 20px;
    padding: 30px 0px 20px 20px;
    border-bottom:0.4px solid #757575 ;
} 

.wrapper h4{
    font-size: 16px;
    padding-bottom: 17px;
    height: 19px ;
    width: 180px;
    color: #212121;
}

.wrapper p{
    font-size: 14px;
    color:#757575;
    width: 170px;
}

.sc_connection{
    max-width: 1230px;
    background-color: #FFFFFF;
    border: 0;
    margin: 0px 20px 0px 20px;
    padding: 20px 0px 0px 20px;
    border-bottom:0.2px solid #757575 ;
}
.sc_socialconnection h3{
    font-size: 17px;
    margin: 20px 0 10px 0;
}


#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #24A3B5;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 1px 16px;
    cursor: pointer;
    font-size: xx-large;

}

#scrollToTopBtn:hover {
    background-color: #24A3B5;
}
